.container {
  width: 700px;
}

.App-header {
  margin: 20px;
  display: flex;
  justify-content: space-between;
}

.cart-button {
  border: none;
  background-color: white;
  cursor: pointer;
}

.cart {
  display: flex;
  align-self: flex-end;
  height: 50px;
}
