@media (max-width: 414px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .all {
    padding: 5px;
  }
}

@media (min-width: 415px) {
  * {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }
  
  .all {
    padding: 75px;
  }
}

